
.login-card {
    width: 100%;
    max-width: 400px;
    background: #2e7d32;
    border-radius: 10px;
}
.form-control {
    border-radius: 20px;
}
.btn {
    border-radius: 20px;
}
.loginhead h4{
    background-color: rgb(56, 162, 3);
    padding: 10px;
    
}
